$primary-color: #99c8ee;

html {
  font-size: 0.0625vw;
  font-family: Arial;
}

body {
  background-color: $primary-color;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10rem;

  .inputs-exchanger {
    .input-number {
      // padding: 5rem;
      margin: 10rem 10rem;
      height: 40rem;
      width: 300rem;
      font-size: 16rem;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5rem;
      transition: box-shadow 0.3s ease; /* Анимация для box-shadow */
      &:focus {
        box-shadow: 0 0 0 2rem rgba(0, 0, 255, 0.5); /* Пример тени фокуса */
      }
    }
    div {
      font-size: 16rem;
      padding: 2rem;

      height: 40rem;
      .el-select__selection {
        height: 40rem;
        .el-select__selected-item {
          display: flex;
          align-items: center;
          height: 30rem;
          padding: 0;
          margin: 0;
        }
      }
    }
    input {
      height: 20rem;
      width: 300rem;
      font-size: 16rem;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5rem;
    }
  }
  .Switch {
    font-size: 16rem;
    height: 140rem;
    width: 200rem;
    label {
      text-transform: uppercase;
      font-size: 16rem;
      height: 40rem;
      width: 40rem;
      span {
        font-size: 16rem;
        margin: 0;
        padding: 0;
      }
      .el-checkbox__label {
        margin-left: 15rem;
      }
      .el-checkbox__input {
        font-size: 16rem;

        .el-checkbox__inner::after {
          margin-left: 3.5rem;
          text-align: center;
          height: 10rem;
          width: 6rem;
          top: 10%;
          left: 10%;
        }
        .el-checkbox__inner {
          height: 20rem;
          width: 20rem;
          padding: 0;
          margin: 0;
        }
      }
      input {
        min-width: 20rem;
        max-width: 20rem;
        min-height: 20rem;
        max-height: 20rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  html {
    font-size: 0.2778vw;
    .inputs-exchanger {
      font-size: 16rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    // .center-container {
    //   flex-direction: column;
    // }
  }
}
